* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: chocolate;
}

nav {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3rem;
  align-items: center;
  font-family: "Teko", sans-serif;
}

.flight-log {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
}

.flight-card {
  margin: 1rem;
  border: 1px solid grey;
  border-radius: 25px;
  height: 20rem;
  width: 90%;
  justify-content: center;
  background-color: blanchedalmond;
  position: relative;
  box-shadow: 10px 5px 5px black;
}

.flight-card-date {
  padding: 1rem 1rem;
  font-family: "Teko", sans-serif;
  font-size: larger;
}

.flight-card-description {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
  min-height: 50%;
  font-family: "Source Code Pro", monospace;
}
.flight-card-stats {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  color: red;
  font-family: "Source Code Pro", monospace;
  margin-left: 1rem;
  z-index: 100;
}

.flight-card-buttons {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 5rem;
  height: 30px;
  font-family: "Teko", sans-serif;
  border-radius: 5px;
}

.add-flight {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: blanchedalmond;
  box-shadow: 10px 5px 5px black;
}

.add-flight-date {
  padding: 0.5rem 0rem;
  font-family: "Teko", sans-serif;
  font-size: larger;
  width: 150px;
  margin-top: 0;
  margin-left: 1rem;
  border-radius: 15px;
  border: none;
  background-color: blanchedalmond;
}

.add-flight-description {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  min-height: 10vh;
  max-height: 35vh;
  padding-right: 1rem;
  font-family: "Source Code Pro", monospace;
}
.add-flight-button {
  margin-left: 1rem;
}
.add-flight-kills {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.footer {
  height: 25px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
